<div class="about">

  <div class="column">
    <div class="box">
      <div class="columns is-centered is-vcentered is-warning">

        <div class="field is-vcentered">
          <label class="label has-text-centered"></label>
          <div class="control">
            Website built by <strong>Kostas-S</strong> as part of the Odin Project course.
            <a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT License</a>, 2021.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>