/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$box-background-color: hsla(44, 100%, 77%, 0.3);
$warning: hsla(44, 100%, 77%, 0.5);


@import 'bulma';
@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$family-sans-serif: 'Open Sans', sans-serif;
body {
  font-family: $family-sans-serif;
  background-image: image-url("bg.jpg");
  background-size: 100vmax;
  min-height: 100vh;
  background-position: top;
  background-repeat: repeat;
}

.navbar-brand {
  margin-left: 15px;
}

.form .column {

  margin-top: 15vh;
  margin-left: 5px;
  margin-right: 5px;

  .control {
    margin: 0 5px;
    width: 158px;
    font-size: 1.1rem;
    @media (max-width: 768px) {
      text-align: center;
      width: 100%;
      margin-left: 0;
      padding: 10px;
    }
  }

}

.column .raised {
  margin-top: 15vh;
}

.select-flight .column {
  margin-top: 10px;
}

.flight {
  margin-top: 25px;
  padding: 15px;
  background-color: ghostwhite;
  border-radius: 15px;
  border: solid rgba(0, 0, 0, 0.1) 1px;


  //box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
}

.passenger .form {
  margin: 10px 170px;

  @media (max-width: 768px) {
    margin: 10px 10px !important;
  }

  .control {
    margin: auto !important;
    width: 100% !important;

    .input {
      font-size: 1.1em;
    }
  }
}

.selected {
  transition-duration: 0.2s;

  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.4) !important;
}

.about .column {
  margin: 15vh 5px;

  .box {
    background-color: $dark;
    color: $light;

    a, strong {
      color: $warning;
    }
  }

  .control {
    margin: 0;
    font-size: 1.5em;
    width: inherit;
  }
}

.button {
  margin-bottom: 12px;
  margin-left: 36px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.button:hover {
  transition-duration: 0.3s;
}

.footer {
  padding: 10px 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: $dark;
  color: $light;

  a {
    color: $warning;
  }
}

//.title {
//  margin: auto;
//  width: fit-content;
//  background-color: ghostwhite;
//  border-radius: 10px;
//}