/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$box-background-color: hsl(44, 100%, 77%);
$warning: hsl(44, 100%, 77%);


@import 'bulma';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$family-sans-serif: 'Open Sans', sans-serif;
body {
  font-family: $family-sans-serif;
  background-image: url("bg.jpg");
  background-size: 100vmax;
  height: 100vh;
  background-position: center;
  background-repeat: repeat-y;
}

.navbar-brand {
  margin-left: 15px;
}

.form .column {
  transition-duration: 0.8s;
  margin-top: 35vh;
  margin-left: 5px;
  margin-right: 5px;

  .control {
    margin: 0 5px;
    width: 158px;
    font-size: 1.1rem;
    @media (max-width: 768px) {
      text-align: center;
      width: 100%;
      margin-left: 0;
      padding: 10px;
    }
  }
}

.column .raised {
  margin-top: 25vh;
}

.select-flight .column {
  margin-top: 0;
}

.about .column {
  margin: 35vmin 5px;

  .control {
    margin: 0;
    font-size: 1.5em;
    width: inherit;
  }
}


.button {
  margin-bottom: 12px;
  margin-left: 36px;
  transition-duration: 0.2s;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}